<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="owners">
      <h2 data-cy="ownersDetailsHeading"><span jhiTranslate="petclinicApp.owners.detail.title">Owners</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ owners.id }}</span>
        </dd>
        <dt><span jhiTranslate="petclinicApp.owners.firstname">Firstname</span></dt>
        <dd>
          <span>{{ owners.firstname }}</span>
        </dd>
        <dt><span jhiTranslate="petclinicApp.owners.lastname">Lastname</span></dt>
        <dd>
          <span>{{ owners.lastname }}</span>
        </dd>
        <dt><span jhiTranslate="petclinicApp.owners.address">Address</span></dt>
        <dd>
          <span>{{ owners.address }}</span>
        </dd>
        <dt><span jhiTranslate="petclinicApp.owners.city">City</span></dt>
        <dd>
          <span>{{ owners.city }}</span>
        </dd>
        <dt><span jhiTranslate="petclinicApp.owners.telephone">Telephone</span></dt>
        <dd>
          <span>{{ owners.telephone }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/owners', owners.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
